body {
    overflow-x: hidden;
    font-family: monospace;
    margin: 0;
}


.header {
    position: relative;
    height: 100px;
    background-color: white;
    text-align: center;
    left: 1%;
    right: 1%;
    width: 100%;
    left: 0;
}

.header h1 {
    top: 20px;
    position: relative;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}

.header span {
    position: relative;
    top: 25px;
    color: #454545;
}

.header a {
    color: inherit;
}

.main {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 80%;
    max-width: 1000px;
}

/* CHORO BUTTON */
#choropleth_button {
    border-radius: 0;
    position: relative;
    top: 80px;
    font-family: monospace;
    border: solid;
    border-width: 2px;
    width: 35%;
    height: 40px;
    float: right;
    border-color: #454545;
    cursor: pointer;
}

.inactive {
    color: #454545;
    background-color: white;
}

#choropleth_button:hover {
    transition: 0.15s;
    background-color: #454545;
    color: white;
}

.active {
    background-color: #454545;
    color: white;
}

/* TEXT */

.margins {
    height: 120px;
    max-height: 20%;
}

#margins_content {
    color: #454545;
    font-size: 15px;
    line-height: 25px;
}


.text {
    padding-top: 0;
    position: relative;
    margin-top: 30px;
    line-height: 30px;
    font-size: 20px;
}


.extra-info {
    position: relative;
    margin: auto;
    left: -30px;
    padding: 10px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    top: 20px;
    line-height: 30px;
}

.extra-info span {
    margin: 0 30px 0 30px;
}

.extra-info a {
    color: #454545;
}

/* SVG CONTAINERS */

#map_container {
    margin: auto;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 1200px;
    top: 0;
}

#chart_container {
    margin: auto;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    width: 1000px;
    top: 0;
}

/* SVG ELEMENTS */
.district {
    stroke-width: 0.2px;
    stroke: white;
}

.hawaii {
    transform: translate(400px, 000px) scale(1) rotate(0.91turn);
}

#Alaska {
    transform: translate(350px, 650px) scale(0.45) rotate(0.91turn);
}

/* PARTIES */
.democratic {
    fill: #003399;
    background-color: #003399;
}

.republican {
    fill: #cc0000;
    background-color: #cc0000;
}

/* BAR  */

#seat_counter {
    position: relative;
    bottom: -25px;
}

#democraticResult {
    color: #003399;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

#democraticResult span {
    font-weight: inherit;
    font-size: 15px;
    margin-left: 5px;
}

#republicanResult {
    float: right;
    color: #cc0000;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

#republicanResult span {
    font-weight: inherit;
    font-size: 15px;
    margin-right: 5px;
}

.majority-div {
    position: relative;
    top: 40px;
}

.up-arrow {
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    position: relative;
    margin: auto;
    left: 493.5px;
}

#majority-info {
    text-align: center;
    position: relative;
}
